# Read in data from datagolf

In [2]:
#PGA
df <- read.csv('Data/draftkings_showdown_projections.csv',stringsAsFactors=FALSE)
#Euro
df <- read.csv('Data/draftkings_showdown_projections 3.csv',stringsAsFactors=FALSE)
head(df)

  datagolf_name      dk_name           sample_size dk_id    dk_salary
1 Thomas, Justin     Justin Thomas     150         15448254 10800
2 Rahm, Jon          Jon Rahm          150         15448255 10500
3 Schauffele, Xander Xander Schauffele 150         15448256 10300
4 Johnson, Dustin    Dustin Johnson    150         15448257 10000
5 Reed, Patrick      Patrick Reed      150         15448258  9800
6 DeChambeau, Bryson Bryson DeChambeau 150         15448259  9600
  r4_tee_time morning_wave position scoring_points finish_points manual_bump
1 11:51 am    0            T17 (+4) 25.8           5.1           0
2 10:34 am    1            T31 (+7) 25.4           3.1           0
3 1:08 pm     0            T4 (E)   25.0           7.8           0
4 11:40 am    0            T21 (+5) 24.1           4.1           0
5 12:13 pm    0            T11 (+3) 23.5           5.4           0
6 1:30 pm     0            2 (-3)   23.7           9.8           0
  total_points value max_exposure lineup_rule
1 30.9         -0.15 100          NA
2 28.6         -0.44 100          NA
3 32.7          0.34 100          NA
4 28.3         -0.22 100          NA
5 28.8          0.00 100          NA
6 33.4          0.70 100          NA

In [3]:
names(df)

 [1] "datagolf_name"  "dk_name"        "sample_size"    "dk_id"
 [5] "dk_salary"      "r4_tee_time"    "morning_wave"   "position"
 [9] "scoring_points" "finish_points"  "manual_bump"    "total_points"
[13] "value"          "max_exposure"   "lineup_rule"

In [4]:
#Rename "r2_tee_time" to "tee_time"
for (n in names(df)) {
    if (grepl('tee_time',n)) {
        names(df)[names(df)==n] <- "tee_time"
    }
}
names(df)
#names(df)[grepl(names(df),'tee_time',fixed = TRUE)]

 [1] "datagolf_name"  "dk_name"        "sample_size"    "dk_id"
 [5] "dk_salary"      "tee_time"       "morning_wave"   "position"
 [9] "scoring_points" "finish_points"  "manual_bump"    "total_points"
[13] "value"          "max_exposure"   "lineup_rule"

In [5]:
#Only keep what we care about
df <- df[c('dk_name','dk_id','dk_salary','total_points',
           'tee_time')]
head(df,10)

   dk_name           dk_id    dk_salary total_points tee_time
1  Justin Thomas     15448254 10800     30.9         11:51 am
2  Jon Rahm          15448255 10500     28.6         10:34 am
3  Xander Schauffele 15448256 10300     32.7         1:08 pm
4  Dustin Johnson    15448257 10000     28.3         11:40 am
5  Patrick Reed      15448258  9800     28.8         12:13 pm
6  Bryson DeChambeau 15448259  9600     33.4         1:30 pm
7  Webb Simpson      15448260  9400     28.9         12:24 pm
8  Rory McIlroy      15448261  9200     31.7         12:57 pm
9  Harris English    15448262  9100     28.9         1:08 pm
10 Hideki Matsuyama  15448263  9000     31.7         1:19 pm

In [6]:
#Add addl columns
df['name_id'] = paste(df$dk_name," (",df$dk_id,")",sep="")

#Add column of ones
df['ones'] <- 1
df$ones <- as.integer(df$ones)
head(df)

  dk_name           dk_id    dk_salary total_points tee_time
1 Justin Thomas     15448254 10800     30.9         11:51 am
2 Jon Rahm          15448255 10500     28.6         10:34 am
3 Xander Schauffele 15448256 10300     32.7         1:08 pm
4 Dustin Johnson    15448257 10000     28.3         11:40 am
5 Patrick Reed      15448258  9800     28.8         12:13 pm
6 Bryson DeChambeau 15448259  9600     33.4         1:30 pm
  name_id                      ones
1 Justin Thomas (15448254)     1
2 Jon Rahm (15448255)          1
3 Xander Schauffele (15448256) 1
4 Dustin Johnson (15448257)    1
5 Patrick Reed (15448258)      1
6 Bryson DeChambeau (15448259) 1

In [7]:
#Get rid of *
df$tee_time <- gsub('*','',df$tee_time,fixed=TRUE) #fixed=TRUE to avoid regex
head(df)

  dk_name           dk_id    dk_salary total_points tee_time
1 Justin Thomas     15448254 10800     30.9         11:51 am
2 Jon Rahm          15448255 10500     28.6         10:34 am
3 Xander Schauffele 15448256 10300     32.7         1:08 pm
4 Dustin Johnson    15448257 10000     28.3         11:40 am
5 Patrick Reed      15448258  9800     28.8         12:13 pm
6 Bryson DeChambeau 15448259  9600     33.4         1:30 pm
  name_id                      ones
1 Justin Thomas (15448254)     1
2 Jon Rahm (15448255)          1
3 Xander Schauffele (15448256) 1
4 Dustin Johnson (15448257)    1
5 Patrick Reed (15448258)      1
6 Bryson DeChambeau (15448259) 1

In [8]:
#Convert tee_time to time object
strptime(df$tee_time,'%I:%M %p')[1:6]

[1] "2020-09-20 11:51:00 UTC" "2020-09-20 10:34:00 UTC"
[3] "2020-09-20 13:08:00 UTC" "2020-09-20 11:40:00 UTC"
[5] "2020-09-20 12:13:00 UTC" "2020-09-20 13:30:00 UTC"

In [9]:
df$tee_time2 <- strptime(df$tee_time,'%I:%M %p')
head(df)

  dk_name           dk_id    dk_salary total_points tee_time
1 Justin Thomas     15448254 10800     30.9         11:51 am
2 Jon Rahm          15448255 10500     28.6         10:34 am
3 Xander Schauffele 15448256 10300     32.7         1:08 pm
4 Dustin Johnson    15448257 10000     28.3         11:40 am
5 Patrick Reed      15448258  9800     28.8         12:13 pm
6 Bryson DeChambeau 15448259  9600     33.4         1:30 pm
  name_id                      ones tee_time2
1 Justin Thomas (15448254)     1    2020-09-20 11:51:00
2 Jon Rahm (15448255)          1    2020-09-20 10:34:00
3 Xander Schauffele (15448256) 1    2020-09-20 13:08:00
4 Dustin Johnson (15448257)    1    2020-09-20 11:40:00
5 Patrick Reed (15448258)      1    2020-09-20 12:13:00
6 Bryson DeChambeau (15448259) 1    2020-09-20 13:30:00

In [10]:
#Get delay from min tee time
min_tee_time <- min(df$tee_time2)
min_tee_time

[1] "2020-09-20 08:00:00 UTC"

In [11]:
df$delay <- as.numeric(difftime(df$tee_time2,min_tee_time,units = 'hours'))
head(df)

  dk_name           dk_id    dk_salary total_points tee_time
1 Justin Thomas     15448254 10800     30.9         11:51 am
2 Jon Rahm          15448255 10500     28.6         10:34 am
3 Xander Schauffele 15448256 10300     32.7         1:08 pm
4 Dustin Johnson    15448257 10000     28.3         11:40 am
5 Patrick Reed      15448258  9800     28.8         12:13 pm
6 Bryson DeChambeau 15448259  9600     33.4         1:30 pm
  name_id                      ones tee_time2           delay
1 Justin Thomas (15448254)     1    2020-09-20 11:51:00 3.850000
2 Jon Rahm (15448255)          1    2020-09-20 10:34:00 2.566667
3 Xander Schauffele (15448256) 1    2020-09-20 13:08:00 5.133333
4 Dustin Johnson (15448257)    1    2020-09-20 11:40:00 3.666667
5 Patrick Reed (15448258)      1    2020-09-20 12:13:00 4.216667
6 Bryson DeChambeau (15448259) 1    2020-09-20 13:30:00 5.500000

In [12]:
#Get points_adj
delay_pen = 0.6
df$points_adj <- df$total_points - delay_pen*df$delay
head(df)

  dk_name           dk_id    dk_salary total_points tee_time
1 Justin Thomas     15448254 10800     30.9         11:51 am
2 Jon Rahm          15448255 10500     28.6         10:34 am
3 Xander Schauffele 15448256 10300     32.7         1:08 pm
4 Dustin Johnson    15448257 10000     28.3         11:40 am
5 Patrick Reed      15448258  9800     28.8         12:13 pm
6 Bryson DeChambeau 15448259  9600     33.4         1:30 pm
  name_id                      ones tee_time2           delay    points_adj
1 Justin Thomas (15448254)     1    2020-09-20 11:51:00 3.850000 28.59
2 Jon Rahm (15448255)          1    2020-09-20 10:34:00 2.566667 27.06
3 Xander Schauffele (15448256) 1    2020-09-20 13:08:00 5.133333 29.62
4 Dustin Johnson (15448257)    1    2020-09-20 11:40:00 3.666667 26.10
5 Patrick Reed (15448258)      1    2020-09-20 12:13:00 4.216667 26.27
6 Bryson DeChambeau (15448259) 1    2020-09-20 13:30:00 5.500000 30.10

# Optimize by points_adj

Ref: https://towardsdatascience.com/integer-programming-in-r-33ee6f48a3c8

In [13]:
library('lpSolve')
#library(dplyr)

In [14]:
t(data.matrix(df[c('dk_salary','ones')]))

          [,1]  [,2]  [,3]  [,4]  [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12]
dk_salary 10800 10500 10300 10000 9800 9600 9400 9200 9100 9000  ...   6500
ones          1     1     1     1    1    1    1    1    1    1  ...      1
          [,13] [,14] [,15] [,16] [,17] [,18] [,19] [,20] [,21]
dk_salary 6400  6400  6300  6200  6200  6100  6100  6000  6000
ones         1     1     1     1     1     1     1     1     1

In [15]:
#Practice finding optimal team
# Set coefficients of the objective function
f.obj <- df$points_adj

# Set matrix corresponding to coefficients of constraints by rows
#f*dk_salary <= 50000
#f*ones == 6
f.con <- t(data.matrix(df[c('dk_salary','ones')]))

# Set unequality/equality signs
f.dir <- c("<=",
           "==")

# Set right hand side coefficients
f.rhs <- c(50000,
           6)

# # Variables final values
opt_team <- lp("max", f.obj, f.con, f.dir, f.rhs, all.bin = TRUE)$solution
df['opt_team'] <- opt_team
subset(df,opt_team==1)

   dk_name           dk_id    dk_salary total_points tee_time
6  Bryson DeChambeau 15448259 9600      33.4         1:30 pm
10 Hideki Matsuyama  15448263 9000      31.7         1:19 pm
15 Matthew Wolff     15448268 8500      32.7         1:30 pm
17 Louis Oosthuizen  15448270 8300      29.1         1:19 pm
19 Viktor Hovland    15448272 8100      27.6         12:46 pm
52 Will Zalatoris    15448304 6500      24.6         12:02 pm
   name_id                      ones tee_time2           delay    points_adj
6  Bryson DeChambeau (15448259) 1    2020-09-20 13:30:00 5.500000 30.10
10 Hideki Matsuyama (15448263)  1    2020-09-20 13:19:00 5.316667 28.51
15 Matthew Wolff (15448268)     1    2020-09-20 13:30:00 5.500000 29.40
17 Louis Oosthuizen (15448270)  1    2020-09-20 13:19:00 5.316667 25.91
19 Viktor Hovland (15448272)    1    2020-09-20 12:46:00 4.766667 24.74
52 Will Zalatoris (15448304)    1    2020-09-20 12:02:00 4.033333 22.18
   opt_team
6  1
10 1
15 1
17 1
19 1
52 1

In [16]:
# Set coefficients of the objective function
f.obj <- df$total_points

# Set matrix corresponding to coefficients of constraints by rows
#f*dk_salary <= 50000
#f*ones == 6
f.con <- t(data.matrix(df[c('dk_salary','ones')]))

# Set unequality/equality signs
f.dir <- c("<=",
           "==")

# Set right hand side coefficients
f.rhs <- c(50000,
           6)

# # Variables final values
opt_team <- lp("max", f.obj, f.con, f.dir, f.rhs,all.bin = TRUE)$solution
df['opt_team'] <- opt_team
subset(df,opt_team==1)

   dk_name           dk_id    dk_salary total_points tee_time
6  Bryson DeChambeau 15448259 9600      33.4         1:30 pm
10 Hideki Matsuyama  15448263 9000      31.7         1:19 pm
15 Matthew Wolff     15448268 8500      32.7         1:30 pm
17 Louis Oosthuizen  15448270 8300      29.1         1:19 pm
19 Viktor Hovland    15448272 8100      27.6         12:46 pm
52 Will Zalatoris    15448304 6500      24.6         12:02 pm
   name_id                      ones tee_time2           delay    points_adj
6  Bryson DeChambeau (15448259) 1    2020-09-20 13:30:00 5.500000 30.10
10 Hideki Matsuyama (15448263)  1    2020-09-20 13:19:00 5.316667 28.51
15 Matthew Wolff (15448268)     1    2020-09-20 13:30:00 5.500000 29.40
17 Louis Oosthuizen (15448270)  1    2020-09-20 13:19:00 5.316667 25.91
19 Viktor Hovland (15448272)    1    2020-09-20 12:46:00 4.766667 24.74
52 Will Zalatoris (15448304)    1    2020-09-20 12:02:00 4.033333 22.18
   opt_team
6  1
10 1
15 1
17 1
19 1
52 1

In [17]:
#Grab just the team
df_opt <- subset(df,opt_team==1)
print('Team 1:')
print(paste(df_opt$dk_name))

[1] "Team 1:"
[1] "Bryson DeChambeau" "Hideki Matsuyama"  "Matthew Wolff"
[4] "Louis Oosthuizen"  "Viktor Hovland"    "Will Zalatoris"

In [20]:
#Find top N teams

#Add tee time penalty
pen = 0.6
df$points_adj = df$total_points - pen*df$delay

num_teams = 7
df_now <- df
to_remove = c('Jason Day',
              'Jim Furyk',
              'Steve Stricker',
             'Brice Garnett',
             'Patrick Rodgers',
             'Jason Dufner',
             'Alex Noren',
             'Charles Howell III',
             'Zach Johnson')
for (n in to_remove) {
    df_now <- subset(df_now,dk_name!=n) 
}
#Max sal
max_sal <- 99900
df_now <- subset(df_now,dk_salary<=max_sal)
base_exposure <- 50
exposure_gap <- 5

#Identify lock
lock <- c('Jon Rahm','Justin Thomas')
lock <- c()
num_left <- 6
sal_left <- 50000
sal_used <- 0
lock_full_names <- c()
if (length(lock) > 0) {
    df_lock <- subset(df_now,dk_name %in% lock)
    df_now <- subset(df_now,! dk_name %in% lock)
    sal_used <- sum(df_lock$dk_salary) 
    num_lock <- length(lock)
    sal_left <- 50000 - sal_used
    num_left <- 6-num_lock
    print(sal_left)
    lock_full_names <- df_lock$name_id
} 

for (i in seq(1:num_teams)) {
    # Set coefficients of the objective function
    f.obj <- df_now$points_adj
    #f.obj <- df_now$total_points

    # Set matrix corresponding to coefficients of constraints by rows
    #f*dk_salary <= 50000
    #f*ones == 6
    #f.con <- t(data.matrix(df_now[c('dk_salary','ones','projected_ownership')]))
    f.con <- t(data.matrix(df_now[c('dk_salary','ones')]))
    
    # Set unequality/equality signs
    f.dir <- c("<=",
               "==")
    
    # Set right hand side coefficients
    f.rhs <- c(sal_left,num_left)

    # # Variables final values
    #opt_val <- lp("max", f.obj, f.con, f.dir, f.rhs, int.vec = 1:4, all.bin = TRUE)$objective
    opt_team <- lp("max", f.obj, f.con, f.dir, f.rhs, int.vec = 1:4, all.bin = TRUE)$solution
    df_now['opt_team'] <- opt_team
    df_opt <- subset(df_now,opt_team==1)
    
    #Print current best team
    print(paste('Team ',i,':',sep=""))
    print(paste(df_opt$dk_name))
    
    #Add best team to df_teams
    if (i==1) {
        df_teams <- df_opt[c('name_id','dk_salary')]
        df_teams['Exposure'] <- base_exposure
    } else {
        df_teams_new <- df_opt[c('name_id','dk_salary')]
        df_teams_new['Exposure'] <- base_exposure - (i-1)*exposure_gap
        df_teams <- rbind(df_teams,df_teams_new)
    }
    
    #Remove current opt team
    df_now <- subset(df_now,opt_team==0)
}

[1] "Team 1:"
[1] "Bryson DeChambeau" "Hideki Matsuyama"  "Matthew Wolff"
[4] "Louis Oosthuizen"  "Viktor Hovland"    "Will Zalatoris"
[1] "Team 2:"
[1] "Xander Schauffele" "Rory McIlroy"      "Harris English"
[4] "Paul Casey"        "Lanto Griffin"     "Adam Long"
[1] "Team 3:"
[1] "Justin Thomas"   "Webb Simpson"    "Joaquin Niemann" "Billy Horschel"
[5] "Sungjae Im"      "Adam Hadwin"
[1] "Team 4:"
[1] "Patrick Reed"  "Tony Finau"    "Jason Kokrak"  "Rickie Fowler"
[5] "Bubba Watson"  "Lucas Glover"
[1] "Team 5:"
[1] "Jon Rahm"        "Dustin Johnson"  "Daniel Berger"   "Patrick Cantlay"
[5] "Shugo Imahira"   "Taylor Pendrith"
[1] "Team 6:"
[1] "Brendon Todd"            "Thomas Pieters"
[3] "Adam Scott"              "Abraham Ancer"
[5] "Christiaan Bezuidenhout" "Sebastian Munoz"
[1] "Team 7:"
[1] "Rafa Cabrera Bello" "Shane Lowry"        "Thomas Detry"
[4] "Cameron Smith"      "Erik Van Rooyen"    "Brian Harman"

In [36]:
#Just keep top n teams and sort by salary
teams_to_keep = 2
low_exposure = base_exposure - (teams_to_keep-1)*exposure_gap
df_teams <- subset(df_teams,Exposure >= low_exposure)
df_teams <- df_teams[order(-df_teams$dk_salary),]
df_teams

   name_id                      dk_salary Exposure
3  Xander Schauffele (15448256) 10300     45
6  Bryson DeChambeau (15448259)  9600     50
8  Rory McIlroy (15448261)       9200     45
9  Harris English (15448262)     9100     45
10 Hideki Matsuyama (15448263)   9000     50
15 Matthew Wolff (15448268)      8500     50
17 Louis Oosthuizen (15448270)   8300     50
19 Viktor Hovland (15448272)     8100     50
23 Joaquin Niemann (15448277)    7800     45
45 Adam Long (15448299)          6800     45
46 Zach Johnson (15448298)       6800     45
52 Will Zalatoris (15448304)     6500     50

In [20]:
# #Add some more names
# more_names = c('Dustin Johnson','Patrick Cantlay','Tom Hoge','Max Homa')
# more_names = c()
# df_more <- subset(df,dk_name %in% more_names)[c('name_id','dk_salary')]
# df_more['Exposure'] = low_exposure - 5
# df_more

In [38]:
#Add some more names
more_names <- c("Adam Hadwin")
more_names <- c('Justin Thomas')
if (length(more_names)>0) {
    names_to_add <- setdiff(more_names,df_teams$dk_name)
    df_more <- subset(df,dk_name %in% names_to_add)[c('name_id','dk_salary')]
    df_more['Exposure'] = low_exposure - 5
    df_more
}

  name_id                  dk_salary Exposure
1 Justin Thomas (15448254) 10800     40

In [39]:
if (length(more_names)>0) {   
    df_teams <- rbind(df_teams,df_more)
    df_teams <- df_teams[order(-df_teams$dk_salary),]
    #replace exposure with probabilities
}
df_teams$Exposure <- df_teams$Exposure / sum(df_teams$Exposure)
df_teams

   name_id                      dk_salary Exposure
1  Justin Thomas (15448254)     10800     0.06557377
3  Xander Schauffele (15448256) 10300     0.07377049
6  Bryson DeChambeau (15448259)  9600     0.08196721
8  Rory McIlroy (15448261)       9200     0.07377049
9  Harris English (15448262)     9100     0.07377049
10 Hideki Matsuyama (15448263)   9000     0.08196721
15 Matthew Wolff (15448268)      8500     0.08196721
17 Louis Oosthuizen (15448270)   8300     0.08196721
19 Viktor Hovland (15448272)     8100     0.08196721
23 Joaquin Niemann (15448277)    7800     0.07377049
45 Adam Long (15448299)          6800     0.07377049
46 Zach Johnson (15448298)       6800     0.07377049
52 Will Zalatoris (15448304)     6500     0.08196721

# Generate lineups

In [23]:
rep('test',6)

[1] "test" "test" "test" "test" "test" "test"

In [24]:
col_names = c('G1','G2','G3','G4','G5','G6')
df_lineups = data.frame('test','test','test','test','test','test',stringsAsFactors=FALSE)
names(df_lineups) <- col_names
df_lineups

  G1   G2   G3   G4   G5   G6
1 test test test test test test

In [25]:
sample(df_teams$name_id,size=6,replace=FALSE,prob = df_teams$Exposure)

[1] "Cameron Percy (15346783)"      "Jhonattan Vegas (15346798)"
[3] "James Hahn (15346799)"         "Brian Stuard (15346782)"
[5] "Kristoffer Ventura (15346789)" "Kevin Streelman (15346777)"

In [26]:
num_teams <- 44
n <- 0
min_sal <- 48900 - sal_used
max_sal <- 49900 - sal_used

#Reste df_teams
df_teams['Actual'] <- 0

#Reset df_lineups
col_names = c('G1','G2','G3','G4','G5','G6')
df_lineups = data.frame('test','test','test','test','test','test',stringsAsFactors=FALSE)
names(df_lineups) <- col_names

while(n<num_teams) {
    #Pick random team
    curr_team <- sample(df_teams$name_id,size=num_left,replace=FALSE,prob = df_teams$Exposure)
    df_now <- subset(df_teams,name_id %in% curr_team)
    #Get team in order of descending salary
    df_now <- df_now[order(-df_now$dk_salary),]
    curr_team <- df_now$name_id
    if (sum(df_now$dk_salary)>=min_sal & sum(df_now$dk_salary)<=max_sal) {
        curr_team <- c(lock_full_names,curr_team)
        df_lineups <- rbind(df_lineups,curr_team)
        n <- n+1
        if (n%%10 == 0) {
            print(n)
        }
        #Update df_teams
    }
}
#delete forst row

head(df_lineups)

[1] 10
[1] 20
[1] 30
[1] 40

  G1                         G2                      G3
1 test                       test                    test
2 Chez Reavie (15346768)     Pat Perez (15346779)    Cameron Percy (15346783)
3 Chez Reavie (15346768)     Sam Burns (15346770)    Kevin Streelman (15346777)
4 Emiliano Grillo (15346772) Russell Knox (15346776) Bud Cauley (15346781)
5 Emiliano Grillo (15346772) Russell Knox (15346776) Bud Cauley (15346781)
6 Brendan Steele (15346765)  Pat Perez (15346779)    Brian Stuard (15346782)
  G4                            G5
1 test                          test
2 Kristoffer Ventura (15346789) James Hahn (15346799)
3 Harry Higgs (15346785)        Sepp Straka (15346812)
4 Carlos Ortiz (15346786)       Kristoffer Ventura (15346789)
5 Harry Higgs (15346785)        Kristoffer Ventura (15346789)
6 James Hahn (15346799)         Jhonattan Vegas (15346798)
  G6
1 test
2 Xinjun Zhang (15346797)
3 Sahith Theegala (15346835)
4 James Hahn (15346799)
5 Xinjun Zhang (15346797)
6 Sepp Straka (15346812)

In [27]:
df_lineups <- df_lineups[(df_lineups$G1!='test'),]
head(df_lineups)

  G1                         G2
2 Chez Reavie (15346768)     Pat Perez (15346779)
3 Chez Reavie (15346768)     Sam Burns (15346770)
4 Emiliano Grillo (15346772) Russell Knox (15346776)
5 Emiliano Grillo (15346772) Russell Knox (15346776)
6 Brendan Steele (15346765)  Pat Perez (15346779)
7 Russell Knox (15346776)    Kevin Streelman (15346777)
  G3                         G4
2 Cameron Percy (15346783)   Kristoffer Ventura (15346789)
3 Kevin Streelman (15346777) Harry Higgs (15346785)
4 Bud Cauley (15346781)      Carlos Ortiz (15346786)
5 Bud Cauley (15346781)      Harry Higgs (15346785)
6 Brian Stuard (15346782)    James Hahn (15346799)
7 Bud Cauley (15346781)      Cameron Percy (15346783)
  G5                            G6
2 James Hahn (15346799)         Xinjun Zhang (15346797)
3 Sepp Straka (15346812)        Sahith Theegala (15346835)
4 Kristoffer Ventura (15346789) James Hahn (15346799)
5 Kristoffer Ventura (15346789) Xinjun Zhang (15346797)
6 Jhonattan Vegas (15346798)    Sepp Straka (15346812)
7 Carlos Ortiz (15346786)       Jhonattan Vegas (15346798)

In [28]:
dim(df_lineups)

[1] 44  6

In [29]:
names(df_lineups)<-rep('G',
                      dim(df_lineups)[2])
head(df_lineups)

  G                          G
2 Chez Reavie (15346768)     Pat Perez (15346779)
3 Chez Reavie (15346768)     Sam Burns (15346770)
4 Emiliano Grillo (15346772) Russell Knox (15346776)
5 Emiliano Grillo (15346772) Russell Knox (15346776)
6 Brendan Steele (15346765)  Pat Perez (15346779)
7 Russell Knox (15346776)    Kevin Streelman (15346777)
  G                          G
2 Cameron Percy (15346783)   Kristoffer Ventura (15346789)
3 Kevin Streelman (15346777) Harry Higgs (15346785)
4 Bud Cauley (15346781)      Carlos Ortiz (15346786)
5 Bud Cauley (15346781)      Harry Higgs (15346785)
6 Brian Stuard (15346782)    James Hahn (15346799)
7 Bud Cauley (15346781)      Cameron Percy (15346783)
  G                             G
2 James Hahn (15346799)         Xinjun Zhang (15346797)
3 Sepp Straka (15346812)        Sahith Theegala (15346835)
4 Kristoffer Ventura (15346789) James Hahn (15346799)
5 Kristoffer Ventura (15346789) Xinjun Zhang (15346797)
6 Jhonattan Vegas (15346798)    Sepp Straka (15346812)
7 Carlos Ortiz (15346786)       Jhonattan Vegas (15346798)

In [30]:
write.table(df_lineups,
          'Lineups/DKEntries.csv',
         col.names=FALSE,
         row.names=FALSE,
           sep=',')