In [82]:
import pandas as pd
import numpy as np

In [83]:
#!pip install cvxpy

In [84]:
#import cvxpy as cp

# Read in data

In [85]:
url = 'https://www.draftkings.com/lineup/getavailableplayerscsv?contestTypeId=21&draftGroupId=28598'
df_dk = pd.read_csv(url)
df_dk.head(2)

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,RB,Ezekiel Elliott (13041144),Ezekiel Elliott,13041144,RB/FLEX,9200,NYG@DAL 09/08/2019 04:25PM ET,DAL,23.27
1,RB,Saquon Barkley (13041692),Saquon Barkley,13041692,RB/FLEX,9000,NYG@DAL 09/08/2019 04:25PM ET,NYG,25.42

In [86]:
df_dk.Name = df_dk.Name.str.rstrip()

In [87]:
# players = ['Kirk Cousins','Matt Ryan','Todd Gurley II','Devin Singletary','Kenny Golladay','Julio Jones',
#           'Adam Thielen','Stefon Diggs','Brandin Cooks','Robert Woods','Devonta Freeman','Ezekiel Elliot',
#           'Saquon Barkley','Christian McCaffrey','David Johnson','Kyle Rudolph','Austin Hooper','Damien Williams']

# df = pd.concat([df_dk[df_dk.Name.isin(players)],df_dk[df_dk.Position=='DST']])
# df

### Pairs to swap out:
- Thielen or Diggs
- Gurley or David Johnson
- Cooks or Robert Woods
- Barkley or McCaffrey or Zeke
- Goodwin or Samuel (4k)

Build 16 teams with Cousins, [Gurley or DJ], Singletary, Golladay, Julio, [Thielen or Diggs], Rudolph, [Cooks or Woods],[MIA or CIN]

In [88]:
a = [1,2,3]
x,y,z = a
print(x,y,z)

1 2 3

In [89]:
def add_teams(df,team_list):
    num_new = 0
    q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list = team_list
    for q in q_list:
        q_name = df_dk[df_dk.Name==q]['Name + ID'].iloc[0]
        for r1 in r1_list:
            r1_name = df_dk[df_dk.Name==r1]['Name + ID'].iloc[0]
            for r2 in r2_list:
                r2_name = df_dk[df_dk.Name==r2]['Name + ID'].iloc[0]
                for w1 in w1_list:
                    w1_name = df_dk[df_dk.Name==w1]['Name + ID'].iloc[0]
                    for w2 in w2_list:
                        w2_name = df_dk[df_dk.Name==w2]['Name + ID'].iloc[0]
                        for w3 in w3_list:
                            w3_name = df_dk[df_dk.Name==w3]['Name + ID'].iloc[0]
                            for t in t_list:
                                t_name = df_dk[df_dk.Name==t]['Name + ID'].iloc[0]
                                for f in f_list:
                                    f_name = df_dk[df_dk.Name==f]['Name + ID'].iloc[0]
                                    for d in d_list:
                                        d_name = df_dk[df_dk.Name==d]['Name + ID'].iloc[0]
                                        team = [q_name,r1_name,r2_name,w1_name,w2_name,
                                                w3_name,t_name,f_name,d_name]
                                        sal = df_dk[df_dk['Name + ID'].isin(team)].Salary.sum()
                                        if sal <= 50000:
                                            num_new += 1
                                            df.loc[len(df)] = team
                                        else:
                                            print('Exceeds Salary:',team)
    print('Added {} teams'.format(num_new))
    return df

In [90]:
df_teams = pd.DataFrame(columns=['QB','RB1','RB2','WR1','WR2','WR3','TE','FLEX','DST'])
df_teams

Empty DataFrame
Columns: [QB, RB1, RB2, WR1, WR2, WR3, TE, FLEX, DST]
Index: []

In [91]:
q_list = ['Kirk Cousins']
r1_list = ['Devonta Freeman']
r2_list = ['Christian McCaffrey']
w1_list = ['Brandin Cooks','Robert Woods']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Adam Thielen']
t_list = ['Kyle Rudolph']
f_list = ['Nick Chubb','Kenny Golladay']
d_list = ['Seahawks','Chargers']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.iloc[np.r_[0:2,-2:0]]

Added 16 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
0,Kirk Cousins (13040669),Devonta Freeman (13040871),Christian McCaffrey (13041406),Brandin Cooks (13040951),Deebo Samuel (13041475),Adam Thielen (13041159),Kyle Rudolph (13040720),Nick Chubb (13041370),Seahawks (13040584)
1,Kirk Cousins (13040669),Devonta Freeman (13040871),Christian McCaffrey (13041406),Brandin Cooks (13040951),Deebo Samuel (13041475),Adam Thielen (13041159),Kyle Rudolph (13040720),Nick Chubb (13041370),Chargers (13040582)
14,Kirk Cousins (13040669),Devonta Freeman (13040871),Christian McCaffrey (13041406),Robert Woods (13040821),Marquise Goodwin (13040750),Adam Thielen (13041159),Kyle Rudolph (13040720),Kenny Golladay (13041093),Seahawks (13040584)
15,Kirk Cousins (13040669),Devonta Freeman (13040871),Christian McCaffrey (13041406),Robert Woods (13040821),Marquise Goodwin (13040750),Adam Thielen (13041159),Kyle Rudolph (13040720),Kenny Golladay (13041093),Chargers (13040582)

In [92]:
q_list = ['Kirk Cousins']
r1_list = ['Devonta Freeman']
r2_list = ['Saquon Barkley']
w1_list = ['Brandin Cooks','Robert Woods']
w2_list = ['Marquise Goodwin','Deebo Samuel']
w3_list = ['Adam Thielen']
t_list = ['Kyle Rudolph']
f_list = ['Kenny Golladay']
d_list = ['Seahawks']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Added 4 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
18,Kirk Cousins (13040669),Devonta Freeman (13040871),Saquon Barkley (13041692),Robert Woods (13040821),Marquise Goodwin (13040750),Adam Thielen (13041159),Kyle Rudolph (13040720),Kenny Golladay (13041093),Seahawks (13040584)
19,Kirk Cousins (13040669),Devonta Freeman (13040871),Saquon Barkley (13041692),Robert Woods (13040821),Deebo Samuel (13041475),Adam Thielen (13041159),Kyle Rudolph (13040720),Kenny Golladay (13041093),Seahawks (13040584)

In [93]:
q_list = ['Kirk Cousins']
r1_list = ['Devonta Freeman']
r2_list = ['Christian McCaffrey']
w1_list = ['Kenny Golladay']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Adam Thielen']
t_list = ['Kyle Rudolph']
f_list = ['Todd Gurley II']
d_list = ['Dolphins']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Added 2 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
20,Kirk Cousins (13040669),Devonta Freeman (13040871),Christian McCaffrey (13041406),Kenny Golladay (13041093),Deebo Samuel (13041475),Adam Thielen (13041159),Kyle Rudolph (13040720),Todd Gurley II (13041058),Dolphins (13040576)
21,Kirk Cousins (13040669),Devonta Freeman (13040871),Christian McCaffrey (13041406),Kenny Golladay (13041093),Marquise Goodwin (13040750),Adam Thielen (13041159),Kyle Rudolph (13040720),Todd Gurley II (13041058),Dolphins (13040576)

In [94]:
q_list = ['Kirk Cousins']
r1_list = ['Devin Singletary']
r2_list = ['Christian McCaffrey']
w1_list = ['Julio Jones']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Adam Thielen']
t_list = ['Kyle Rudolph']
f_list = ['Todd Gurley II']
d_list = ['Dolphins']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Added 2 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
22,Kirk Cousins (13040669),Devin Singletary (13041783),Christian McCaffrey (13041406),Julio Jones (13040679),Deebo Samuel (13041475),Adam Thielen (13041159),Kyle Rudolph (13040720),Todd Gurley II (13041058),Dolphins (13040576)
23,Kirk Cousins (13040669),Devin Singletary (13041783),Christian McCaffrey (13041406),Julio Jones (13040679),Marquise Goodwin (13040750),Adam Thielen (13041159),Kyle Rudolph (13040720),Todd Gurley II (13041058),Dolphins (13040576)

In [95]:
q_list = ['Carson Wentz']
r1_list = ['Chris Thompson']
r2_list = ['Christian McCaffrey']
w1_list = ['Brandin Cooks','Robert Woods']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Alshon Jeffery']
t_list = ['Zach Ertz']
f_list = ['Kenny Golladay','Dalvin Cook','Kerryon Johnson']
d_list = ['Seahawks']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Added 12 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
34,Carson Wentz (13040977),Chris Thompson (13040758),Christian McCaffrey (13041406),Robert Woods (13040821),Marquise Goodwin (13040750),Alshon Jeffery (13040745),Zach Ertz (13040739),Kenny Golladay (13041093),Seahawks (13040584)
35,Carson Wentz (13040977),Chris Thompson (13040758),Christian McCaffrey (13041406),Robert Woods (13040821),Marquise Goodwin (13040750),Alshon Jeffery (13040745),Zach Ertz (13040739),Kerryon Johnson (13041675),Seahawks (13040584)

In [96]:
q_list = ['Jimmy Garoppolo']
r1_list = ['Dalvin Cook']
r2_list = ['Christian McCaffrey']
w1_list = ['Brandin Cooks','Robert Woods']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Kenny Golladay']
t_list = ['George Kittle']
f_list = ['Peyton Barber']
d_list = ['Dolphins']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Exceeds Salary: ['Jimmy Garoppolo (13040818)', 'Dalvin Cook (13041387)', 'Christian McCaffrey (13041406)', 'Brandin Cooks (13040951)', 'Deebo Samuel (13041475)', 'Kenny Golladay (13041093)', 'George Kittle (13041161)', 'Peyton Barber (13041214)', 'Dolphins  (13040576)']
Exceeds Salary: ['Jimmy Garoppolo (13040818)', 'Dalvin Cook (13041387)', 'Christian McCaffrey (13041406)', 'Brandin Cooks (13040951)', 'Marquise Goodwin (13040750)', 'Kenny Golladay (13041093)', 'George Kittle (13041161)', 'Peyton Barber (13041214)', 'Dolphins  (13040576)']
Added 2 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
36,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Christian McCaffrey (13041406),Robert Woods (13040821),Deebo Samuel (13041475),Kenny Golladay (13041093),George Kittle (13041161),Peyton Barber (13041214),Dolphins (13040576)
37,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Christian McCaffrey (13041406),Robert Woods (13040821),Marquise Goodwin (13040750),Kenny Golladay (13041093),George Kittle (13041161),Peyton Barber (13041214),Dolphins (13040576)

In [97]:
q_list = ['Jimmy Garoppolo']
r1_list = ['Dalvin Cook']
r2_list = ['Todd Gurley II']
w1_list = ['Chris Godwin']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Kenny Golladay']
t_list = ['George Kittle']
f_list = ['Devin Singletary']
d_list = ['Seahawks']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Added 2 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
38,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Todd Gurley II (13041058),Chris Godwin (13041463),Deebo Samuel (13041475),Kenny Golladay (13041093),George Kittle (13041161),Devin Singletary (13041783),Seahawks (13040584)
39,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Todd Gurley II (13041058),Chris Godwin (13041463),Marquise Goodwin (13040750),Kenny Golladay (13041093),George Kittle (13041161),Devin Singletary (13041783),Seahawks (13040584)

In [98]:
q_list = ['Jimmy Garoppolo']
r1_list = ['Dalvin Cook']
r2_list = ['Kerryon Johnson']
w1_list = ['Mike Evans']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Julio Jones']
t_list = ['George Kittle']
f_list = ['Devin Singletary']
d_list = ['Dolphins']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Added 2 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
40,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Kerryon Johnson (13041675),Mike Evans (13040877),Deebo Samuel (13041475),Julio Jones (13040679),George Kittle (13041161),Devin Singletary (13041783),Dolphins (13040576)
41,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Kerryon Johnson (13041675),Mike Evans (13040877),Marquise Goodwin (13040750),Julio Jones (13040679),George Kittle (13041161),Devin Singletary (13041783),Dolphins (13040576)

In [98]:
q_list = ['Cam Newton']
r1_list = ['Dalvin Cook']
r2_list = ['Kerryon Johnson']
w1_list = ['Mike Evans']
w2_list = ['Deebo Samuel','Marquise Goodwin']
w3_list = ['Julio Jones']
t_list = ['George Kittle']
f_list = ['Devin Singletary']
d_list = ['Dolphins']
team_list = [q_list,r1_list,r2_list,w1_list,w2_list,w3_list,t_list,f_list,d_list]
df_teams = add_teams(df_teams,team_list)
df_teams.tail(2)

Added 2 teams

,QB,RB1,RB2,WR1,WR2,WR3,TE,FLEX,DST
40,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Kerryon Johnson (13041675),Mike Evans (13040877),Deebo Samuel (13041475),Julio Jones (13040679),George Kittle (13041161),Devin Singletary (13041783),Dolphins (13040576)
41,Jimmy Garoppolo (13040818),Dalvin Cook (13041387),Kerryon Johnson (13041675),Mike Evans (13040877),Marquise Goodwin (13040750),Julio Jones (13040679),George Kittle (13041161),Devin Singletary (13041783),Dolphins (13040576)

In [99]:
len(df_teams)

42

In [100]:
df_teams.to_csv('Lineups/nfl_lineups.csv')